.container {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.search-box {
    padding: 15px 0;
    background: rgb(63, 87, 179);
}

.search-form {
    text-align: center;
    margin: 0 auto;
    padding: 0 50px;
}

.search-input {
    outline: none;
    padding: 5px 10px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 5px;
}

.search-btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.photo-card {
    width: calc((100% - 30px)/4)
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 1220px;
}

.photo-card-img {
    width: 100%;
    height: 220px;
}

.info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    border: none;
}

.load-more {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: rgb(40, 56, 112);
    color: white;
    font-family: "Arial", sans-serif;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.alignment {
    text-align: center;
}

.info-item {
    font-size: 14px;
    font-weight: bold;
}

.span {
    font-size: 14px;
    font-weight: normal;
    padding-top: 20px;
}

.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}  
